<ng-container [formGroup]="form">
  <br>
  <label class="label">{{formItem.label}}</label>
  <br>
  <ng-container [ngSwitch]="formItem.type">

    <input *ngSwitchCase="'text'" type="text" class="form-control" [formControlName]="formItem.id">

    <!--    <label for="radio">{{formItem.values[0]?.label}}</label>-->
    <div class="radio-buttons" *ngSwitchCase="'radio'">
      <mat-radio-group aria-label="Select an option" [formControlName]="formItem.id">
        <mat-radio-button *ngFor="let value of formItem.values | keyvalue" [value]="value.key">{{value.value}}</mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="select-outer" *ngSwitchCase="'select'">
      <mat-form-field appearance="outline">
        <mat-select [formControlName]="formItem.id">
          <mat-option *ngFor="let value of formItem.values | keyvalue" [value]="value.key">
            {{value.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <input *ngSwitchCase="'checkbox'" class="checkbox" type="checkbox" [formControlName]="formItem.id">

  </ng-container>
</ng-container>
