<div class="main-outer">
  <div class="container">
    <ng-container [formGroup]="form" class="row">
      <br>
      <label class="label col-12">{{formItem.label}}</label>
      <br>
      <ng-container [ngSwitch]="formItem.type" class="col-12">

        <!--        <input *ngSwitchCase="'text'" type="text" class="form-control" [formControlName]="formItem.id">-->

        <div class="mat-form-field-outer" *ngSwitchCase="'text'">
          <mat-form-field appearance="outline">
            <input matInput [formControlName]="formItem.id" matInput type="text">
          </mat-form-field>
        </div>

        <div class="radio-buttons" *ngSwitchCase="'radio'">
          <mat-radio-group class="row" aria-label="Select an option" [formControlName]="formItem.id">
            <mat-radio-button class="col-12 col-sm-6" *ngFor="let value of formItem.values | keyvalue"
                              [value]="value.key">{{value.value}}</mat-radio-button>
          </mat-radio-group>
        </div>

        <div class="select-outer mat-form-field-outer" *ngSwitchCase="'select'">
          <mat-form-field class="full-width" appearance="outline">
            <mat-select [formControlName]="formItem.id">
              <mat-option *ngFor="let value of formItem.values | keyvalue" [value]="value.key">
                {{value.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

       <!-- <div class="checkbox-outer" *ngSwitchCase="'checkbox'">

          <mat-checkbox *ngFor="let value of formItem.values | keyvalue" #checkbox
                        (change)='pushCheckBoxValue(checkbox.checked,value)'>{{value.value}}</mat-checkbox>

        </div>-->

        <!--        <input *ngSwitchCase="'checkbox'" class="checkbox" type="checkbox" [formControlName]="formItem.id">-->

      </ng-container>
    </ng-container>
  </div>
</div>
