<div class="property-outer">
  <h2 class="sub-category">Select a subcategory</h2>
  <h2 class="sub-category">Select a subcategory</h2>
  <div class="list-outer">
    <ul class="list">
      <li class="category" (click)="navigateToPostAd(11)">Land</li>
      <hr>
      <li class="category" (click)="navigateToPostAd(12)">House For Sale</li>
      <hr>
      <li class="category" (click)="navigateToPostAd(13)">Apartment For Sale</li>
      <hr>
      <li class="category" (click)="navigateToPostAd(14)">New Projects</li>
      <hr>
      <li class="category" (click)="navigateToPostAd(15)">Commercial Properties For Sale</li>
      <hr>
    </ul>
  </div>
</div>

