.sell-an-item-outer {
  padding: 20px;
}

.left {
  border-right: 1px solid black !important;

}

.list-outer {
  ul {
    list-style: none;
  }
}

.list-border {
  padding: 100px;
}
.list{
  margin: 0;
  padding: 0;
}

.category-heading {
  padding: 0 0 0 30px;
}

.category {
  text-align: left;
  color: #0074BA;
  border-radius: 5px;
  cursor: pointer;
}

.sub-category {
  color: #2f3432;
  font-weight: 500;
  padding: 0 0 0 30px;
}

.active-route {
  color: black;
}

.icon{
}
