.sell-an-item-outer {
  padding: 20px;
}

.left{
  border-right: 1px solid black!important;

}

.list-outer {
  ul {
    list-style: none;
  }
}

.category {
  margin: 10px 20px;
  padding: 20px 10px;
  border: 1px solid black;
  width: 25vw;
  border-radius: 5px;
}

.category:hover {
  background: lightgoldenrodyellow;
}
