<div class="sell-an-item-outer">
  <div class="row">
    <div class="left col-12 col-md-6 ">
      <div class="list-outer">
        <h2 class="category-heading">Select a Category</h2>
        <ul class="list">
          <li class="category" routerLink="/home/sell-an-item/vehicles" routerLinkActive="active-route"
              (click)="navigateToRoute('vehicles')">
            <mat-icon>car_rental</mat-icon>

            Vehicles
          </li>
          <hr>
          <li class="category" routerLink="/home/sell-an-item/electronics" routerLinkActive="active-route"
              (click)="navigateToRoute('electronics')">
            <mat-icon class="icon">cable</mat-icon>
            Electronics
          </li>
          <hr>
          <li class="category" routerLink="/home/sell-an-item/property" routerLinkActive="active-route"
              (click)="navigateToRoute('property')">
            <mat-icon class="icon">real_estate_agent</mat-icon>
            Property
            <mat-icon class="arrow">chevron_right</mat-icon>
          </li>
          <hr>
          <li class="category" routerLink="/home/sell-an-item/service" routerLinkActive="active-route"
              (click)="navigateToRoute('service')">
            <mat-icon class="icon">support_agent</mat-icon>
            Service
          </li>
          <hr>
          <li class="category" routerLink="/home/sell-an-item/animals" routerLinkActive="active-route"
              (click)="navigateToRoute('animals')">
            <mat-icon class="icon">pets</mat-icon>
            Animals
          </li>
          <hr>
        </ul>
      </div>
    </div>
    <div class="right col-12 col-md-6">
      <h2 class="sub-category">Select a subcategory</h2>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
