<div class="animal-outer">
  <h2 class="sub-category">Select a subcategory</h2>
  <div class="list-outer">
    <ul class="list">
      <li class="category" (click)="navigateToPostAd(22)">Pets</li>
      <hr>
      <li class="category" (click)="navigateToPostAd(23)">Pet Foods</li>
      <hr>
      <li class="category" (click)="navigateToPostAd(24)">veterinary Service</li>
      <hr>
      <li class="category" (click)="navigateToPostAd(25)">Farm Animals</li>
      <hr>
      <li class="category" (click)="navigateToPostAd(26)"> Animal Accessories</li>
      <hr>
      <li class="category" (click)="navigateToPostAd(27)"> Other Animals</li>
      <hr>
    </ul>
  </div>
</div>
