<div class="electronic-outer">
  <div class="list-outer">
    <ul class="list">
      <li class="category" (click)="navigateToPostAd(1)">Mobile Phones</li>
      <hr>
      <li class="category" (click)="navigateToPostAd(2)">Mobile Phone Accessories</li>
      <hr>
      <li class="category" (click)="navigateToPostAd(3)">Computer & Tablets</li>
      <hr>
      <li class="category" (click)="navigateToPostAd(4)">Computer Accessories</li>
      <hr>
      <li class="category" (click)="navigateToPostAd(5)">TVs</li>
      <hr>
    </ul>
  </div>
</div>

