<div class="service-outer">
  <h2 class="sub-category">Select a subcategory</h2>
  <div class="list-outer">
    <ul>
      <li class="category" (click)="navigateToPostAd(16)">Trade Service</li>
      <hr>
      <li class="category" (click)="navigateToPostAd(17)">Domestic service</li>
      <hr>
      <li class="category" (click)="navigateToPostAd(18)">Event & Entertainment</li>
      <hr>
      <li class="category" (click)="navigateToPostAd(19)">Health & Wellbeing</li>
      <hr>
      <li class="category" (click)="navigateToPostAd(20)">Travel & Tourism</li>
      <hr>
      <li class="category" (click)="navigateToPostAd(21)">Other Service</li>
      <hr>

    </ul>
  </div>
</div>

