<div class="vehicle-outer">
  <h2 class="sub-category">Select a subcategory</h2>
  <div class="list-outer">
    <ul class="list">
      <li class="category" (click)="navigateToPostAd(6)">Cars
      </li>
      <hr>
      <li class="category" (click)="navigateToPostAd(7)">Motorbikes</li>
      <hr>
      <li class="category" (click)="navigateToPostAd(8)">Three Wheelers</li>
      <hr>
      <li class="category" (click)="navigateToPostAd(9)">Bicycles</li>
      <hr>
      <li class="category" (click)="navigateToPostAd(10)">Vans</li>
      <hr>
    </ul>
  </div>
</div>


