.property-outer {
  padding: 10px;
}

.subcategory {
  color: #2f3432;
  font-weight: 800;
}

.list-outer {
  ul {
    padding: 10px;
    list-style: none;
    background-color: #ffffff;
  }
}

.category {
  margin: 10px 10px;
  padding: 10px 10px;
  width: 25vw;

}
